@import url('https://fonts.googleapis.com/css2?family=Bungee');
@import url('https://fonts.googleapis.com/css2?family=Rowdies');
@import url('https://fonts.googleapis.com/css2?family=Outfit');

h1 {
    text-align: center;
    font-family:Bungee;
    font-size: 70px;
}
details {
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    font-weight: bold;
}
span {
    font-size: 30px;
    font-weight: bold;
    display: inline;
    font-family: Rowdies;
}
body {
    background-color: lightskyblue;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/86/North_America_in_the_World_%28red%29.svg');
    background-repeat: repeat;
    background-size: cover;
}
h4 {
    display: block;
    text-align: center;
    font-weight: 600px;
    font-size: 20px;
    font-family: Rowdies;
}
a:hover {
    background-color: rgb(100, 200, 100);
}
a {
    background-color: rgb(119, 221, 119);
    border-radius: 30px;
    padding: 10px 20px;      
    color: white;            
    text-decoration: none;   
    display: inline-block;  
    font-family: Outfit;
}
.Country-image {
    width: 120px;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.country-row {
    display: flex;
    align-items: center;
    gap: 12px;
}
summary::-webkit-details-marker {
    display: none;
}

summary {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 20px;
}

summary::before {
    content: "❯";
    display: inline-block;
    margin-right: 6px;
    transition: transform 0.2s ease;
    color: darkslategrey;
}

details[open] summary::before {
    transform: rotate(90deg);
}
.country-link {
    font-family: Bungee;
}
h3 {
    text-align: right;
    font-size: 10px; 
}
.bob {
    font-family: Outfit;
    font-size: large;
    font-weight: bold;
}



